/*center every graph, text, ...*/
:root {
    text-align: center;
}

/*Possibility to color a text (example title)*/
.color_primary {
    color:rgb(56, 167, 184)
}

/*Create a metric card*/
.metrics{
    color: white;
    background-color: rgb(20, 52, 75);
}

/*Change the default behaviour of a second title  ('##' in Markdown)*/
h2{
    text-align: left !important;
    color:rgb(20, 52, 75) !important;
    background-color: rgb(56, 167, 184) !important;
    margin: 5px !important;
}

/*Change the default behaviour of a third title  ('###' in Markdown) */
h3{
    color: rgb(20, 52, 75) !important;
}

/*Change the default behaviour of bold text ('**' in Markdown) */
strong{
    color:white;
    font-size: x-large;
}